{% load static %}
<!DOCTYPE html>
<html xmlns:th="http://www.typeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>포니 랭크 조회 리스트</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/shop-homepage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">포니 RANK LIST</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="userLink" href="#">사용자 전적 검색</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" id="ponyLink" href="#">포니 랭크 리스트</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="enemyLink" href="#">상대 랭크 리스트</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container" style="margin-left:inherit;">

    <div class="row">

      <!-- <div class="col-lg-3">

        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>

      </div> -->
      <!-- /.col-lg-3 -->

      <div class="col-lg-9" style="flex:0 0 90%">
        <div class="row" style="flex-wrap:inherit;">
    
      {% for list in resultVal %}		  
          <div class="col-lg-4 col-md-6 mb-4" style="margin-top: 1.5rem!important;">
            <div class="card h-100">
            	<h4 class="card-title">
                  <a href="javascript:champClick('{{list.userMap.euc_id}}');" style="font-size: 1.75rem;">{{list.soloRankMap.user_game_id}}</a>
                </h4>
                <button onclick="javascript:stsUpdClick('{{list.soloRankMap.user_game_id}}')">전적 갱신
                {% if list.soloRankMap.diff_day > 0 %}
                  {{list.soloRankMap.diff_day}}일전
                {% endif %}
                {% if list.soloRankMap.diff_day == 0 %}                
                  {% if list.soloRankMap.diff_hour == 0 %}
						        {{list.soloRankMap.diff_min}}분전
                  {% endif %}
                  {% if list.soloRankMap.diff_hour > 0 %}
					          {{list.soloRankMap.diff_hour}}시간전
                  {% endif %}
                {% endif %}
                </button>
              <div class="card-body">
              	<div style="display: flex; text-align: center;"> 
                <div style="font-size: 18px; font-weight: 900; width: 100%">솔로랭크</div>
                <div style="font-size: 18px; font-weight: 900; width: 100%">자유랭크</div>
                </div>
                <div style="display: flex;">
                  {% if list.soloRankMap.tier_img != null %}
                	  <a href="#"><img class="card-img-top" style="height:100%; width: 100%" src="/static/img/{{list.soloRankMap.tier_img}}.png" alt=""></a>
                  {% endif %}
                  {% if list.soloRankMap.tier_img == null %}
                	  <a href="#"><img class="card-img-top" style="height:100%; width: 100%" src="/static/img/none.png" alt=""></a>
                  {% endif %}
                  {% if list.freeRankMap.tier_img != null %}
                	  <a href="#"><img class="card-img-top" style="height:100%; width: 100%" src="/static/img/{{list.freeRankMap.tier_img}}.png" alt=""></a>
                  {% endif %}
                  {% if list.freeRankMap.tier_img == null %}
                    <a href="#"><img class="card-img-top" style="height:100%; width: 100%" src="/static/img/none.png" alt=""></a>
                  {% endif %}
                </div>
                <div style="display: flex; font-size: 19px; font-weight:800; text-align: center;">
                <div style="width: 100%">{{list.soloRankMap.tier }} {{list.soloRankMap.rank_lvl }}</div>
                <div style="width: 100%">{{list.freeRankMap.tier }} {{list.freeRankMap.rank_lvl }}</div>
                </div>
                <div style="display: flex; font-size: 30px; font-weight:800; text-align: center;">
                <div style="width: 100%">{{list.soloRankMap.league_pt }}P</div>
                <div style="width: 100%">{{list.freeRankMap.league_pt }}P</div>
                </div>
                <br/>
                <div style="display: flex; font-size: 17px; font-weight:700; text-align: center;">
                	<div style="width: 100%">{{list.soloRankMap.wins_cnt }}승 {{list.soloRankMap.losses_cnt }}패</div>
                	<div style="width: 100%">{{list.freeRankMap.wins_cnt }}승 {{list.freeRankMap.losses_cnt }}패</div>
                </div>
                <br/>
                <h3 style="font-size: 17px; font-weight: 600;">최근 10게임 선호 라인</h3>
                <div style="width:100%;">
                  {% for matchList in list.lastGameList %}
                	<div style="width:25%; float:left;">
                    <img class="card-img-top" src="https://ddragon.leagueoflegends.com/cdn/10.6.1/img/champion/{{matchList.champion_id.champion_eng_name}}.png" alt="">
                    {% if matchList.win_flag == 'Y' %}
		                	<img class="card-img-top" style="background-color: #007bff26;" src="/static/img/{{matchList.position_img}}.png" alt="">
		                	<div style="font-weight: 800; font-size:12px; background-color: #007bff26; text-align: center;">{{matchList.kills}}/{{matchList.deaths}}/{{matchList.assists}}</div>
                    {% endif %}
                    {% if matchList.win_flag == 'N' %}
		                	<img class="card-img-top" style="background-color: #ff000012;" src="/static/img/{{matchList.position_img}}.png" alt="">
		                	<div style="font-weight: 800; font-size:12px; background-color: #ff000012; text-align: center;">{{matchList.kills}}/{{matchList.deaths}}/{{matchList.assists}}</div>
                    {% endif %}
        	        </div>
                {% endfor %}
                </div>
              </div>        
            </div>
          </div>
          {% endfor %}

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 고이우 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
<script type="text/javascript">
	
	$(document).ready(function(){
		
		console.log('${json}');
		console.log("탐");
	});

	$("#userLink").click(function(){
		
		location.href = "/lolapi/userlist";
	});
	
	$("#ponyLink").click(function(){
		
		location.href = "/lolapi/ponylist";
	});
	
	$("#enemyLink").click(function(){
		
		location.href = "/lolapi/enemylist";
	});
	
	function champClick(summId){
		
		location.href = "/lolapi/getChampList.do?summId="+ summId;
	}
	
	function stsUpdClick(userId){
		location.href = "/lolapi/ponylist/"+ userId;
	}
	
</script>
</html>
